#particles-js {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(20deg, #3FD1E1 0%, #44D7CD 100%);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
}
